*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    
    background-color: rgba(14, 9, 9, 0.801);
    /* color: white; */
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    
}

.main {
    display: flex;
    /* position: absolute; */
    flex-wrap: wrap;
    top: 20%;
    justify-content: center;
    margin-top: 150px;
}

.card {
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgba(119, 157, 114, 0.629);
    width: 300px;
    height: 400px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px; */
    transition: all 1s; 
}
.card:hover {
    cursor: pointer;
    margin-left: 20px;
    background-color: rgba(65, 104, 60, 0.705);
    width: 300px;
    height: 400px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 10px 20px;
    
}
.dp {
    text-align: center;
    background-color: green;
    height: 120px;
    width: 120px;
    margin-left: 30%;
    margin-top: 50px;
    border-radius: 60px;
    background-image: url(../images/dp.jpg);
    background-size: cover;
    
}

.dp{
    border: solid;
    border-color: white;
    border-style:inset;
}

.user {
    margin-top: 20px;
    font-weight: bolder;
    font-size: 25px;
}

.nick-name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: small;
}
.bio {
    /* background-color: yellow; */
    margin-left: 32%;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 1000;
    color: rgb(44, 43, 43);
    font-family: 'Times New Roman', Times, serif;
    max-width: 100px;
}
.insta-link {
    
    display: flex;
    justify-content: center;
    /* background-color: green; */
    height: 40px;
    
    margin: 0px 20px;
    margin-top: 45px;
}
.insta-icon {
    
    /* background-color: rgba(0, 0, 0, 0); */
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-image: url(../icons/instagram.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: -9px;
    
}
.link {
    margin: 10px;
}


.link-name {
    color: rgba(11, 11, 52, 0.664);
    font-weight: bold;
    transition: all, 0.5s;
}
.link-name:hover {
    color: rgba(40, 40, 225, 0.664);
    font-weight: bold;
}

.next-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 10px 20px;
    margin-top: 200px;
    margin-left: 15px;
    background-color: rgba(198, 255, 173, 0.552);
    border: none;
    border-radius: 20px;
    transition: all, 0.5s;
    

    
}

.next-btn:hover {
    color: rgba(40, 40, 225, 0.664);
    font-weight: bold;
}
.next-btn:active {
    background-color: rgba(255, 255, 255, 0.947);
}

.end-msg {
    text-align: center;
    margin-top: 10px;
    width: 280px;
    height: 300px;
    text-wrap: wrap;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(217, 250, 215, 0.263);
    
    background-color: rgba(137, 43, 226, 0);
    
}
.video2 {
    width: 300px;
    height: 400px;
    background-color: rgb(144, 122, 72);
}

